//@import "~bootstrap/less/bootstrap.less";
//@import "~bootstrap/less/variables.less";

//@import "~bootswatch/lumen/variables.less";
//@import "~bootswatch/lumen/bootswatch.less";

#ui-view{
    position: absolute;
    left: 10pt;
    top: 10pt;
    z-index: 10;
}

terrain-view{
    position: absolute;
    width: 50vw;
    height: 30pt;
    top: 25pt;
    left: 10pt;
}
