//@import "~bootstrap/less/bootstrap.less";
//@import "~bootstrap/less/variables.less";

//@import "~bootswatch/lumen/variables.less";
//@import "~bootswatch/lumen/bootswatch.less";

#ui-view{
    position: absolute;
    left: 2em;
    top: 2em;
    width: 30em;
    max-width: 80vw;
    z-index: 10;
}

terrain-view{
    position: absolute;
    width: 30em;
    max-width: 80vw;
    height: 1em;
    top: 1em;
    left: 1em;
}

view{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
